<h1 style="text-align:center;">Laboratorio 3</h1>
<h4 style="text-align:center;">Cristopher Barrios</h4>
<h5 style="text-align:center;">18/8/2023</h5>

### Librerias

In [13]:
import pandas as pd
import numpy as np

### Ejercicio 1

1. Haga un análisis exploratorio de los datos para entenderlos mejor, documente todos los análisis

In [14]:
# Se cargan los datos
digit = pd.read_csv("./data/train.csv")

In [15]:
# Primeras 5 filas
digit.head(5)

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
#Ultimas 5 filas
digit.tail(5)

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
41995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41996,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41997,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41999,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
#valor maximo de cada columna
digit.max()

label        9
pixel0       0
pixel1       0
pixel2       0
pixel3       0
            ..
pixel779    62
pixel780     0
pixel781     0
pixel782     0
pixel783     0
Length: 785, dtype: int64

In [18]:
#valor minimo de cada columna
digit.min()

label       0
pixel0      0
pixel1      0
pixel2      0
pixel3      0
           ..
pixel779    0
pixel780    0
pixel781    0
pixel782    0
pixel783    0
Length: 785, dtype: int64

In [21]:
#tipo de dato de cada columna
digit.dtypes

label       int64
pixel0      int64
pixel1      int64
pixel2      int64
pixel3      int64
            ...
pixel779    int64
pixel780    int64
pixel781    int64
pixel782    int64
pixel783    int64
Length: 785, dtype: object

In [22]:
#Numero de filas y de columnas
digit.shape

(42000, 785)

In [23]:
#informacion del data
digit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42000 entries, 0 to 41999
Columns: 785 entries, label to pixel783
dtypes: int64(785)
memory usage: 251.5 MB

In [24]:
#valores faltantes
digit.isnull().sum()

label       0
pixel0      0
pixel1      0
pixel2      0
pixel3      0
           ..
pixel779    0
pixel780    0
pixel781    0
pixel782    0
pixel783    0
Length: 785, dtype: int64

2. Haga un modelo de redes neuronales simple, determine la efectividad del modelo 
3. Haga un modelo de Deep learning, determine la efectividad del modelo 
4. Haga un modelo con cualquier otro algoritmo que el grupo seleccione, determine la efectividad 
del modelo. Puede basarse en los modelos que han sido probados con el data set que pueden 
encontrar en el siguiente link: http://yann.lecun.com/exdb/mnist/ 
5. Pruebe el mejor modelo ingresando imágenes de dígitos hechos a mano por los integrantes del 
grupo. Discuta el desempeño de su modelo y los resultados. 
6. Haga  un  informe  donde  incluya  el  análisis  exploratorio,  la  descripción  de  los  modelos,  la 
efectividad de cada uno y la comparación entre ellos.

### Ejercicio 2


1. Utilice los conjuntos de entrenamiento y prueba de una de las series que utilizó en el Laboratorio 
2 
2. Haga al menos 2 modelos con configuraciones diferentes usando LSTM. Úselos para predecir. 
3. ¿Cuál predijo mejor?¿Son mejores que los modelos creados en el laboratorio pasado?¿Cómo lo 
determinaron?  
4. Agregue los resultados de este ejercicio al informe del ejercicio 1.